<% include header %>
<form method="post">
    username: <input type="text" name="name"/> <br/>
    password: <input type="password" name="password"/> <br/>
    password confirm: <input type="password" name="password-repeat"/> <br/>
    e-mail: <input type="email" name="email"/><br/>
    <input type="submit" value="注册"/>
</form>
<% include footer %>